<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6474039193-6u4hdiij89kalakt3rke7m2e4qkjlir1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6474039193-6u4hdiij89kalakt3rke7m2e4qkjlir1</string>
	<key>API_KEY</key>
	<string>AIzaSyAzYyR-kn5mh13q9K1V0gc45nUChhR5e_0</string>
	<key>GCM_SENDER_ID</key>
	<string>6474039193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boxfort.Boxfort</string>
	<key>PROJECT_ID</key>
	<string>boxfort-6a746</string>
	<key>STORAGE_BUCKET</key>
	<string>boxfort-6a746.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6474039193:ios:0aa7578557a07575b21d08</string>
</dict>
</plist>