<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Terms of Use</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array> 
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.boxfort.Boxfort.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>boxfort</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.boxfort.Boxfort.book.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>boxfort-book</string>
			</array>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:boxfortco.github.io</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
	</array>
	<key>NSPrivacyAccessedAPICategoryFileTimestamp</key>
	<string>The app uses file timestamps to organize user-uploaded documents by date for better user experience.</string>
	<key>NSPrivacyAccessedAPICategoryUserDefaults</key>
	<string>The app uses user defaults to store user settings and preferences locally to enhance the usability of the app.</string>
	<key>NSCameraUsageDescription</key>
	<string>BoxFort would like to access your camera to capture special celebration videos when you finish reading stories together.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We send notifications about new stories, special offers, and updates to keep you informed about the latest BoxFort content.</string>
	<key>UIAppFonts</key>
	<array>
		<string>LondrinaSolid-Light.ttf</string>
		<string>LondrinaSolid-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
